﻿body { font-family: sans-serif; font-size: 14px; line-height: 1.6em; margin: 0; padding: 0; }
.container { width: 800px; margin: 0 auto; }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

 .input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }

#results {  display: none;	width: 190px;	display: absolute;	border: 1px solid #c0c0c0;  position: absolute;  background-color: #fff;  color: rgb(153, 204, 255);margin-top: -25px;  margin-left: 4px;}
#results .item {padding: 3px;	font-family: Helvetica;	border-bottom: 1px solid #c0c0c0;}
#results .item:last-child {	border-bottom: 0px;}
#results .item:hover {	background-color: #f2f2f2;	cursor: pointer;}

.results {  display: none;	width: 190px;	display: absolute;	border: 1px solid #c0c0c0;  position: absolute;  background-color: #fff;  color: rgb(153, 204, 255);margin-top: -25px;  margin-left: 4px;}

.results .adnoitem {padding: 3px;	font-family: Helvetica;	border-bottom: 1px solid #c0c0c0;}
.results .adnoitem:last-child {	border-bottom: 0px;}
.results .adnoitem:hover {	background-color: #f2f2f2;	cursor: pointer;}

.results .yradmitem {padding: 3px;	font-family: Helvetica;	border-bottom: 1px solid #c0c0c0;}
.results .yradmitem:last-child {	border-bottom: 0px;}
.results .yradmitem:hover {	background-color: #f2f2f2;	cursor: pointer;}

.results .crseitem {padding: 3px;	font-family: Helvetica;	border-bottom: 1px solid #c0c0c0;}
.results .crseitem:last-child {	border-bottom: 0px;}
.results .crseitem:hover {	background-color: #f2f2f2;	cursor: pointer;}

.results .bnameitem {padding: 3px;	font-family: Helvetica;	border-bottom: 1px solid #c0c0c0;}
.results .bnameitem:last-child {	border-bottom: 0px;}
.results .bnameitem:hover {	background-color: #f2f2f2;	cursor: pointer;}

.results .bcditem{padding: 3px;	font-family: Helvetica;	border-bottom: 1px solid #c0c0c0;}
.results .bcditem:last-child {	border-bottom: 0px;}
.results .bcditem:hover {	background-color: #f2f2f2;	cursor: pointer;}
.form-control{ width:200px; height:30px; text-align:justify; font-family:Calibri; font-size:15px;border-width: 5px;}



#header{background-color: #fff;
  width: 97%;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 102px;
  padding-bottom: 1px;
  /* margin: 0px; */
  margin-bottom: 8px;}
  
  #footer{background-color: #fff;
  width: 97%;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 102px;
  padding-bottom: 1px;
 margin-bottom: 8px; vertical-align:middle; text-align:center}
#header img{  margin-top: 12px;}
.sidemenu{float: left;
  width: 12%;
  margin-left: 20px;
  padding: 5px;
  background-color: #eee;
  height: 293px;
  padding-left: 6px;}
  .sidemenu p{  background-color: #ddd;
  height: 30px;
  line-height: 30px;
  padding-left: 11px;}
  .sidemenu a{   text-decoration: none;
  color: #278798;
  font-size: 12px;
  font-weight: bold;}


#header{background-color: #fff;
  width: 97%;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 102px;
  padding-bottom: 1px;
  /* margin: 0px; */
  margin-bottom: 8px;}
#header img{  margin-top: 12px;}
.view_tbl{ margin-top:40px; width:80%; border-collapse:collapse;}
.downbtn{ float: right;
    background-color: #ccc;
    text-decoration: none;
    color: #fff;
    padding: 7px;
    margin: 5px;
    border-radius: 7px;
    box-shadow: 1px 2px #ddd;
    width: 150px;
    text-align: center;
    cursor: pointer;}
.sidemenu{float: left;
  width: 12%;
  margin-left: 20px;
  padding: 5px;
  background-color: #eee;
  height: 445px;
  padding-left: 6px;}
 .sidemenu p{  background-color: #ddd;
  height: 30px;
  line-height: 30px;
  padding-left: 11px;}
 .sidemenu a{   text-decoration: none;
  color: #278798;
  font-size: 12px;
  font-weight: bold;}
 .sear_form{  float: left;
 min-height: 349px;
  margin-left: 0px;
  background-color: #eee;
  width: 84%;}
.sear_form h4  {  font-size: 32px;
 
  margin: 0px;
  padding: 17px;
  color: rgb(49, 142, 158);
  font-weight: normal;}
  .sear_frm h4  {  font-size: 32px;
 
  margin: 0px;
  padding: 17px;
  color: rgb(49, 142, 158);
  font-weight: normal;}
.vwtbl {border-collapse:collapse; border:1px solid #ccc; text-align:center; float:none;}
.vwtbl tr td div img{ width:80px; height:80px; border:1px solid #ccc; padding:2px; border-radius:5px;}
.vwtbl tr td .txt{ font-size:14px; float:left; font-weight:bold; padding:4px; line-height:10px;width:165px; text-align:center; margin:1px;}
.vwtbl tr td .txtval{ float: left;  margin: 1px;    min-width: 100px;}
.vwtbl tr td .row1{ background-color:#009999; color:#ddd; }
.vwtbl tr td .row2{background-color: #7EA8B2;  color: #fff;}
.vwtbl tr td p {color:#FFFFFF; background-color:#006699; padding:10px;}
.vwtbl tr td p a {text-decoration:none; color:#FFFFFF; background-color:#006699;}

.vwtbl {border-collapse:collapse; border:1px solid #ccc; text-align:center; float:none;}
.vwtbl div img{ width:80px; height:80px; border:1px solid #ccc; padding:2px; border-radius:5px;}
.vwtbl .txt{ font-size:14px; float:left; font-weight:bold; padding:4px; line-height:10px;width:165px; text-align:center; margin:1px;}
.vwtbl .txtval{ float: left;  margin: 1px;    min-width: 100px;}
.vwtbl .row1{ background-color:#009999; color:#ddd; }
.vwtbl .row2{background-color: #7EA8B2;  color: #fff;line-height: 13px;}
.vwtbl p {color:#FFFFFF; background-color:#006699; padding:10px;}
.vwtbl p a {text-decoration:none; color:#FFFFFF; background-color:#006699;}
.vwres{ float:left !important; margin: 10px;}
.btnn{text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    background-color: #278798;
    padding: 3px;}
/*.welmsg{    float: left;        text-align: center;    width: 100%;    background-color: #B8E4B8;    color: green;}*/
form input[type=submit]{ cursor:pointer;}
.sear_res{ background-color: #fff;
    float: left;
    /*width: 1306px;*/
    margin-left: 20px;
    margin-top: -14px;}
.sear_res h3 {color: #5B96BF;}	